h1 {
    text-align: center;
    border-top: 1px solid black;
    margin-top: 20px;
    border-bottom: 1px solid black; 
    margin-bottom: 20px; 
    padding: 10px;
}

.contenedor {
    display: flex;
    align-items: center; /*Alinea verticalmente los elementos */
    padding: 20px;
}

.izquierda img {
    display: block; /* Evita espacios no deseados debajo de la imagen*/
    margin: 0 auto; /* Centra la imagen horizontalmente*/
    max-width: 100%; /*Ajusta la imagen al tamaño máximo*/
}

.derecha {
    margin-left: 20px; 
}

.derecha p#empresa {
    font-size: 1.2em; 
    font-weight: bold; 
    padding-bottom: 10px;
}

.logo{
    padding-bottom: 20px;
}

.derecha p#titulo {
    color: black; /* Color negro */
    font-style: italic; /* Texto en cursiva */
    font-weight: bold;
    padding-bottom: 20px;
}

.derecha p#contenido {
    font-family: "Arial", sans-serif; /* Cambia "Arial" por la fuente que prefieras */
    font-style: normal; /* Restablece el estilo de la fuente a normal si es necesario */
    /* Añade estilos adicionales para hacer que la letra se vea bonita */
}
.derecha img {
    display: block; 
    max-width: 100px; 
}

.redes_sociales {
    margin-top: 20px; 
    text-align: left; 
}

.redes_sociales a {
    display: inline-block; /*Alinea los íconos*/
    margin: 0 5px; /*Espacio horizontal entre los íconos */
}

.redes_sociales img {
    width: 30px; /*Ajusta el tamaño de los íconos*/
}
