h1 {
    text-align: center;
    border-top: 1px solid black;
    margin-top: 20px;
    border-bottom: 1px solid black; 
    margin-bottom: 20px; 
    padding: 10px;
}

.contenedor {
    display: flex;
    align-items: center; /*alinea verticalmente los elementos */
    padding: 20px;
}

.izquierda img {
    display: block; /*qita espacios debajo de la imagen*/
    margin: 0 auto; /*centra la imagen horizontalmente*/
    max-width: 100%; /*ajusta la imagen al tamaño máximo*/
}

.derecha {
    margin-left: 20px; 
}

.derecha p#empresa {
    font-size: 1.2em; 
    font-weight: bold; 
    padding-bottom: 10px;
}

.logo{
    padding-bottom: 20px;
}

.derecha p#titulo {
    color: black;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 20px;
}

.derecha img {
    display: block; 
    max-width: 100px; 
}

.redes_sociales {
    margin-top: 20px; 
    text-align: left; 
}

.redes_sociales a {
    display: inline-block; /*alinea los íconos*/
    margin: 0 5px; /*espacio horizontal entre los íconos*/
}

.redes_sociales img {
    width: 30px; /*Ajuste de los íconos*/
}