* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /*centra verticalmente los elementos */
    height: 50px;
    background-color: grey; 
    padding: 0 20px; /* Agrega un relleno interno*/
}


.logo {
    width: 30%; 
    text-transform: uppercase; /*transforma el texto a mayúsculas*/
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

h2 span {
    color: #dc741c; 
}

.botones_menu {
    width: auto; 
    text-transform: uppercase; 
}


.menu {
    list-style: none; /*quita los marcadores de lista*/
    display: flex;
    display: flex;
    align-items: center;
    flex-wrap: nowrap; /*evita el ajuste de línea en los elementos*/
}

.menu li {
    margin-right: 20px; 
}

.menu li:last-child {
    margin-right: 0; /*elimina el margen derecho del último elemento*/
}

.menu li a {
    text-decoration: none; /*quita el subrayado del enlace*/
    font-weight: bold; 
    font-size: 1em; 
    color: #dc741c; 
}

/*Estilos de los enlaces*/
.menu li a:link {
    color: white; /*color de los enlaces no visitados */
}

.menu li a:visited {
    color: #e49c54; /*color de los enlaces visitados */
}

.menu li a:hover {
    color: #dc741c; /*color de los enlaces al pasar el mouse*/
}

.menu li a:active {
    color: aqua; /*color de los enlaces activos*/
}